<header class="header">
    <span class="header__inner">
        {{ partial "logo.html" . }}

        <span class="header__right">
            {{ if len site.Menus.main }}
            <nav class="menu">
                <ul class="menu__inner">
                    {{- $currentPage := . -}}
                    {{ range sort .Site.Menus.main -}}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{- end }}
                    <li><a href="https://antwave.online/portfolio">Portfolio</a></li>
                </ul>
            </nav>
            {{ end }}
        </span>
    </span>
</header>
