

{{ define "main" }}
    <div>
        <main aria-role="main" class="index-main">
            <div>
                {{ if .Site.Params.Portrait.Path }}
                <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
                {{ end }}

                <h1>{{ .Site.Title }}</h1>

                {{- with .Site.Params.homeSubtitle }}
                    <p>{{.}}</p>
                {{- end }}
            </div>
            <div>
                <main class="posts">
                    <h4 style="margin-bottom: 0;">Recent Posts</h4>
                    <ul class="posts-list">
                        {{ range .Site.RegularPages | first 5 }}
                            <li class="post-item">
                                <a href="{{.Permalink}}" class="post-item-inner">
                                    <span class="post-title">{{.Title}}</span>
                                    <span class="post-day">
                                        {{ if .Site.Params.dateformShort }}
                                            {{ .Date.Format .Site.Params.dateformShort }}
                                        {{ else }}
                                            {{ .Date.Format "Jan 2"}}
                                        {{ end }}
                                    </span>
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </main>
            </div>
        </main>
        <div>
            <h2 style="display: block;">Updates</h2>
            <div>
                <p>I have recently updated this blog as of September 2024!</p>
            </div>
        </div>
        <div style="margin-top: 5vh; margin-bottom: -20vh;">
            {{ $image := resources.Get "images/kirby.gif" }}
            {{ with $image }}
            <img src="{{ $image.RelPermalink }}" width="150rem" style="margin: auto; margin-bottom: -7%;">
            {{ end }}
            <h6 style="display: block;">ANT.WAV</h6>
        </div>    
    </div>
{{ end }}
